body > div
    

{
    width: 483px;
    height: 4298px;
    margin: 20px;
    background-color:royalblue;
    transition:all 0.3s ease

}

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}



.fade
{
        opacity:0.5;
}
.fade:hover
{
        opacity:1;
}


.color:hover
{
        background:#2087db;
}
.shrink:hover
{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}


